.start-container {
  overflow: hidden;
  background: #f891a6;
  /* max-width: min(368px, 90vw);  */
  max-width: 368px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  position: relative;
  opacity: 0;
  /* 預設隱藏 */
  animation: fadeIn 1.5s ease-out forwards;
}

.start-text {
  display: flex;
  align-items: center;
  color: #DF3021;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 16px;
  font-family: 'CustomFont';
}

.coco-text {
  font-family: 'CustomFont';
}

.start-title {
  color: #DF3021;
  font-family: 'CustomFont';
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  letter-spacing: 2px;
}

.start-p {
  color: #DF3021;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 8px;
  text-align: center;
  letter-spacing: 2px;
}

.start-btn-text::after {
  content: "";
  display: inline-block;
  width: 0;
  height: 3px;
  margin-left: 2px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #DF3021;
  transform: rotate(-90deg);
}

.start-btn {
  width: 100px;
  /* 設置寬度，使其成圓形 */
  height: 100px;
  /* 設置高度，使其成圓形 */
  border-radius: 50%;
  /* 設置完全圓形邊角 */
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  /* 讓內部元素居中 */
  justify-content: center;
  /* 讓內部元素水平居中 */
  align-items: center;
  /* 讓內部元素垂直居中 */
  text-align: center;
  z-index: 1001;
  margin: 80px;
  cursor: pointer;
  filter: none;
}

.start-btn-text {
  font-family: 'CustomFont';
  margin-left: 5px;
}

.start-btn:hover {
  background-color: #ffffff;
}

.start-img {
  width: 180px;
  margin-bottom: 20px;
}

.dotted-line {
  margin: 0 auto;
  position: absolute;
  top: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  .start-container {
    max-width: 100%;
  }
}